body {
    font-size: 16px;
    font-family: "Tahoma";
}

.add {
    marging-top: 20px;
    marging-left: 20px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.main-header {
    border-bottom: 3px solid darkgrey;
}

.title-column {
    font-weight: bold;
}

.contacts {
    border-bottom: 1px solid grey;
}

.buttons-column {
    width:40%;
    text-align: right;
}

.column {
    width: 30%;
    height: 50px;
}

.details-link {
    text-decoration: none;
}
.details-link:hover {
    text-decoration: none;
}

.delete-form {
    display: inline;
}

.links {
    margin-top: 30px;
    margin-bottom: 30px;
}

.details-header {
    margin-bottom: 5px;
}

.under-line {
    width: 100%;
    color: #ccc;
}

.error {
    color: red;
    font-size: 14px;
}

.error-list {
    list-style: none;
}

